.jumbotron {
  text-align: center;
}

.container {
  /*border: 2px solid blue;*/
}

button {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#buttons {
  margin-top: 75px;
}

.furby-box {
  width: 30%;
  height: 400px;
  /*border: 3px solid red;*/
  float: left;
  margin: 1.5% 1.5%;
  z-index: 0;
}

.furby-box img {
  width: 80%;
  margin: auto;
  display: block;
}

.furby-box h2 {
  text-align: center;
}

.furby-box button {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  bottom: 10px;
}

.age, .color {
  display: block;
  font-size: 18px;
  text-align: center;
}

.overlay {
  background-color: rgba(96, 93, 97, 0.6);
  /*border: 2px solid red;*/
  z-index: 1000;
  height: inherit;
  width: inherit;
  position: absolute;
  display: none;
}
